.about-me {
    padding: 20px;
}
.about-me img {
    max-width: 100%;
    height: auto;
}
.center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    text-align:start;
    height: 100%; /* Ensure it takes full height of its container */
}
.row-full-height {
    min-height: 60vh; /* Ensure that the row takes up at least 60% of viewport height */
}